@charset "UTF-8";

/* 基本の設定
 -------------------------------------------- */
body {
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	font-size: 16px;
	line-height: 1.7;
	margin: 0;
	padding: 0;
}

section,article, aside, nav, header, main, footer { display: block; }

h1,h2,h3,h4 {
	font-family: "Montserrat",sans-serif;
	font-weight: normal;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a { text-decoration: none;}



.center { text-align: center; }

/* ヘッダー
 -------------------------------------------- */
header {
	width: 100%;
	padding: 6em 0 4em;
	background: url("../images/header_green.jpg") no-repeat fixed center bottom / cover ;
	position: relative;
	text-align: center;
	color: rgb(0, 0, 0);
}
header#itempage { /* アイテムページのときはヘッダーの幅を狭くする */
	padding: 4em 0 2em;
}
header nav {
	background: rgb(255, 136, 0) ;
	padding: 10px 0; 
	width: 100%;
	position: absolute;
	top:0;
}
header nav ul{
	margin: auto;
	text-align: center;
}
header nav ul li{
	display: inline-block;
}
header nav ul li a{
	color: rgb(3, 97, 0);
	font-family: "Montserrat",sans-serif;
	font-size: 16px;
	padding: 0 1em;
}
header h1 a {
	color: rgb(140, 64, 64);
}

header img { /* フルードイメージ対応 */
	max-width: 100%;
	height: auto;
}
/* メインエリア
 -------------------------------------------- */
main {
	width: 100%;
	max-width: 930px;
	margin: 0 auto;
	padding: 24px 0;
}

/* リンク文字の色設定 */
main a { color: #2c9795; }
main a:link,
main a:visited { text-decoration: none; }
main a:hover, main a:active  { text-decoration: underline; }

/* フッター
 -------------------------------------------- */
footer {
	background-color: #114046;
	color: #40666a;
	font-family: "Montserrat",sans-serif;
	text-align:center;
	width: 100%;
	padding: 6em 0;
}

	
/* カラムの設定
 -------------------------------------------- */
.row {
	max-width: 930px;
	margin: 0 auto 50px;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ. Ｐ明朝',serif;
	font-size: 16px;
}
.row::after { 
	content: ""; /* 疑似要素を作って */
	clear: both; /* フロート解除 */
	display: block;
}
.col {
	float: left;
	margin-left: 4%;
}
.col:first-child {margin-left: 0;}
.harf {width: 48%;}
.quarter {width: 22%;}


/* 表の装飾
 -------------------------------------------- */
table {
	border: 1px solid rgb(101, 101, 183);
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
table th {
	background: #636ed3;
	border: solid rgb(90, 107, 204);
	border-width: 0 0 1px 1px;
	font-weight: bold;
	line-height: 120%;
	padding: 30px 8px;
	text-align: center;
	width: 20%;
}
table td {
	border: 1px solid rgb(64, 93, 155);
	border-width: 0 0 1px 1px;
	padding: 30px 8px;
	text-align: left;
	width: 80%;
}

/* フォーム・ボタンの装飾
 -------------------------------------------- */
form .email,
form .comment {
	border: 1px solid rgb(71, 101, 201);
	box-sizing: border-box;
	display: block;
	font-size: 16px;
	margin-bottom: 16px;
	max-width: 100%;
	padding: 8px;
	width: 100%;
}

img {
	width: 450px;
	height: 450px;
}
.botton{
	cursor: pointer;
	display: inline-block;
	line-height: 1.7;
	margin: 0 0 2em;
	padding: .6em 2em;
	position: relative;
	text-decoration: none;
}

.button2 {
	background-color: rgb(124, 95, 31);
	border-bottom: medium none;
	border-radius: 0.5em;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	line-height: 1.7;
	margin: 0 0 2em;
	padding: .6em 2em;
	position: relative;
	text-decoration: none;
}

.botton3{
	cursor: pointer;
	display: inline-block;
	line-height: 1.7;
	margin: 0 0 2em;
	padding: .6em 2em;
	position: relative;
	text-decoration: none;
}


main a.button { color: rgb(32, 27, 104); }

main a.button:hover,
main a.button:active { text-decoration: none; }

/* 商品ページの装飾
 -------------------------------------------- */
.cartarea {
	border-top: 1px dotted rgb(116, 33, 33);
	text-align: center;
}

/* ----------------------
 画面の横幅が599px以下の場合に適用（スマートフォン用）
 ---------------------- */
@media screen and (max-width: 599px) {
	.col {
		float: none; /* フロート解除して縦一列に並べる */
		margin-left: 0; /* 左のマージンを0にする */
		width: auto; /* 横幅いっぱいに表示する（％指定をリセット） */
	}
	.row {
		padding: 0 8px; /* 左右に8pxの余白を設ける */
	}
}

